@font-face {
    font-family: 'RobotoBl';
    src: url(../../fonts/Roboto-Black.woff2) format('woff2'),
        url(../../fonts/Roboto-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoBI';
    src: url(../../fonts/Roboto-BoldItalic.woff2) format('woff2'),
        url(../../fonts/Roboto-BoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCR';
    src: url(../../fonts/RobotoCondensed-Regular.woff2) format('woff2'),
        url(../../fonts/RobotoCondensed-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoM';
    src: url(../../fonts/Roboto-Medium.woff2) format('woff2'),
        url(../../fonts/Roboto-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMI';
    src: url(../../fonts/Roboto-MediumItalic.woff2) format('woff2'),
        url(../../fonts/Roboto-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCL';
    src: url(../../fonts/RobotoCondensed-Light.woff2) format('woff2'),
        url(../../fonts/RobotoCondensed-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCB';
    src: url(../../fonts/RobotoCondensed-Bold.woff2) format('woff2'),
        url(../../fonts/RobotoCondensed-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoTI';
    src: url(../../fonts/Roboto-ThinItalic.woff2) format('woff2'),
        url(../../fonts/Roboto-ThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoB';
    src: url(../../fonts/Roboto-Bold.woff2) format('woff2'),
        url(../../fonts/Roboto-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url(../fonts/ArialNarrow.woff2) format('woff2'),
        url(../fonts/ArialNarrow.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoR';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
        url(../fonts/Roboto-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoL';
    src: url(../../fonts/Roboto-Light.woff2) format('woff2'),
        url(../../fonts/Roboto-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoT';
    src: url(../../fonts/Roboto-Thin.woff2) format('woff2'),
        url(../../fonts/Roboto-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

